name: PostmanWithCron

on:
  schedule:
    - cron: '0 9 * * *'
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v3

    - name: Install Node.js
      uses: actions/setup-node@v2
      with:
        node-version: 16.x

    - name: Install Newman
      run: npm install -g newman

    - name: Run rest collection
      run: newman run collections/samplecollection.json
